html {
	box-sizing: border-box;
	background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%,rgba(200, 200, 200, 1) 100%);

}

*, *::before, *::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
  	font-family: "Inter", sans-serif;
  	font-optical-sizing: auto;
  	font-style: normal;
	margin:0;
}

a {
	text-decoration:none;
}

nav {
	height:100px;
	width: 100%;
 	background-color:#1A1A1A;
  	padding-left: 10%;
  	padding-right: 10%;
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
	position: fixed;
}

ul {
  	list-style: none;
}

li {
	float:left;
	display:inline;
	text-align: center;
}

li a {
  	display: inline-block;
  	padding: 18px 30px;
  	text-decoration: none;
  	color: white;
	font-size: 20px;
	font-weight: 800;
	cursor:pointer;
	border-radius: 20px;
}

.contact {
	background: #8C3F8C;
	background: linear-gradient(90deg, rgba(140, 63, 140, 1) 0%, rgba(90, 75, 166, 1) 50%, rgba(86, 156, 191, 1) 100%);
}

li a:hover{
	background: white;
	color:#1A1A1A;
	-webkit-transition: background-color 400ms ease-out;
    -ms-transition: background-color 400ms ease-out;
    transition: background-color 400ms ease-out;
 }

h1{
	display:flex;
	width:100%;
	height:300px;
	justify-content: center;
	align-items: center;
	font-size: 3em;
	font-weight: 800;
}

.content {
	display:flex;
	background-image:url('/images/background.svg');
	background-repeat: no-repeat;
	background-size: cover;
	flex-direction: column;
	align-items: center;
	row-gap:60px;
}

.content h2 {
	font-size:3em;
	color:white;
	font-weight:800;
}

.content h3 {
	font-size:1.5em;
	font-weight:800;
}

.overMij {
	display:flex;
	flex-flow: row wrap;
	max-width:50%;
	background-color :#1A1A1A;
	row-gap:30px;
	color:white;
	align-items: flex-start;
	border-radius: 20px;
	padding:60px;
}

.overMij p {
	line-height: 2.5;
	padding-right: 60px;
}

.overMij div {
	display:flex;
	flex-direction: column wrap;
	align-items: center;
}

.overMij div img {
	width:250px;
}

.skills {
	display:flex;
	flex-direction: column;
	row-gap:60px;
	max-width:50%;
}

.skills div {
	background:#1A1A1A;
	border-radius:20px;
	line-height: 3;
	overflow:hidden;
	width:auto;
	background: linear-gradient(90deg, rgba(26,26,26,1) 0%, rgba(30, 30, 30, 0.6) 100%);
	color:white;
	padding:60px 0 60px 60px;
}
 
.skills div img {
	float:right;
	padding:0 60px;
}

.portfolio {
	color:white;
	max-width:50%;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	column-gap: 60px;
	row-gap:60px;
	justify-content:space-between;
}

.portfolioRij {
	display:flex;
	flex-flow:column wrap;
	flex-basis:29%;
	row-gap:60px;
}

.portfolioArtikel {
	padding:30px;
	border-radius:20px;
	display:flex;
	flex-direction: column;
	row-gap: 30px;
	background: #1A1A1A;
	align-self: flex-start;
}

.portfolioArtikel h3 {
	text-align:center;
	line-height: 36px;
	background: linear-gradient(90deg, rgba(140, 63, 140, 1) 0%, rgba(90, 75, 166, 1) 50%, rgba(86, 156, 191, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}

.portfolioArtikel img {
	width:75%;
	align-self: center;
}

.portfolioArtikel a {
	align-self: flex-end;
}


.arrowCTA {
	height:36px;
	cursor:pointer;
}

.cta {
	color:white;
	padding:18px 30px;
	border-radius:20px;
	font-weight:800;
	background: #8C3F8C;
	background: linear-gradient(90deg, rgba(140, 63, 140, 1) 0%, rgba(90, 75, 166, 1) 50%, rgba(86, 156, 191, 1) 100%);
}

.cta:hover {
	background: white;
	color:#1A1A1A;
	-webkit-transition: background-color 400ms ease-out;
    -ms-transition: background-color 400ms ease-out;
    transition: background-color 400ms ease-out;
}

form {
	background: lightgray;
	display:grid;
	font-size:1em;
	font-family: "Inter" ,sans-serif;
	row-gap:30px;
	column-gap: 30px;
	padding:30px 0;
	width:50%;
}

input {
	padding:12px;
	min-height:60px;
	font-family: "Inter" ,sans-serif;
	border-radius:10px;
	font-size:1em;
	border:none;
}

textarea {
	font-family: "Inter" ,sans-serif;
	resize:vertical;
	padding:12px;
	font-size:1em;
	border-radius:10px;
	border:none;
	height:120px;
}